body,html,#root,.App{
    margin: 0 auto;
    height: 100%;
}

.search-results {
    border: 1px solid #ccc;
    text-align: center;
    width:33%;
    position: absolute;
    left: 33.33%;
    z-index: 10;
    background-color: white;
}

.search-results a:hover {
    font-weight: bold;
}

.series {
    display:flex;
    justify-content: space-between;
}